/*Estilos de Index, Main y Footer*/

.title {
    @extend .row;
    justify-content: center;
}

.sectionindex {
    @extend .row;
    justify-content: space-around;
    padding: 40px;

    &__video {
        width: 560px;
        height: 300px;
        box-shadow: $shadow;
    }

    &__article {
        @extend .col;
        align-items: center;
        justify-content: center;
        padding: 20px;

        &--parrafo {
            font-family: 'Cabin', sans-serif;
            font-size: 1.5rem;
            text-align: center;
            margin: 10px;
        }

    }
}

.section2 {
    @extend .row;
    justify-content: space-around;

    &__img1 {
        @extend .imgindex;

        &:hover {
            transform: scale(1.3) !important;
        }
    }

    &__img2 {
        @extend .imgindex;

        &:hover {
            transform: scale(1.3) !important;
        }
    }

    &__img3 {
        @extend .imgindex;

        &:hover {
            transform: scale(1.3) !important;
        }
    }

    &__img4 {
        @extend .imgindex;

        &:hover {
            transform: scale(1.3) !important;
        }
    }

    &__img5 {
        @extend .imgindex;

        &:hover {
            transform: scale(1.3) !important;
        }
    }
}

//media queries tablet

@media (max-width:768px) {

    .sectionindex {
        flex-direction: column;
        align-items: center;

        &__video {
            width: 400px;
        }
    }

    .section2 {
        &__img1 {
            display: none;
        }

        &__img3 {
            display: none;
        }
    }
}

/*MOBILE*/

@media (max-width:576px) {

    .sectionindex {
        &__video {
            width: 300px;
        }
    }

    .section2 {
        flex-direction: column;
        align-items: center;
    }

}