.main__section--div {
    @extend .row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;

    &--art1 {
        @extend .col;
        align-items: center;
        &--pic {
            margin-bottom: 30px;

            &--img {
                height: 400px;
                width: 400px;
                border-radius: 20%;
                transition: all 1s;
                border-style: solid;
                border-width: 5px;

                :hover {
                    transform: scale(1.1);
                }
            }

        }

        &--div {
            &--but {
                border-radius: 10px;
                background-color: #ffbee7;
                &--li{
                  &--a{
                    color: $black;
                    font-weight: bold;
                    text-decoration: none;
                    width: 100%;
                    padding-right: 5px;
                    padding-left: 5px;
                    &:hover {
                        color: $white;

                    }
                }  
                }
                
            }
        }
    }
}