.main {
    &__section {
        @extend .col;
        align-items: center;

        &--div {
            @extend .row;
            justify-content: center;

            &--imgservicios {
                height: 500px;
                width: 500px;
                border-radius: 155px;
                border-style: solid;
                border-width: 10px;
                margin-bottom: 30px;
            }
        }


        &--parrafo {
            font-size: 1.5rem;
        }

    }

    &__section2 {
        padding: 40px;

        &--art {
            @extend .row;
            margin-bottom: 40px;

            &--pic {
                &--img {
                    @extend .imgservicios;
                }
            }

            &--div {
                @extend .col;
                align-items: center;
                justify-content: center;
                margin-left: 30px;
                &--strong {
                    font-size: 2rem;
                }
            }
        }

        &--art2 {
            @extend .row;
            margin-bottom: 40px;

            &--pic {
                &--img {
                    @extend .imgservicios;
                }
            }

            &--div {
                @extend .col;
                align-items: center;
                justify-content: center;
                margin-left: 30px;
                &--strong {
                    font-size: 2rem;
                }

            }
        }

        &--art3 {
            @extend .row;
            margin-bottom: 40px;

            &--pic {
                @extend .row;
                align-items: center;
                &--img {
                    @extend .imgservicios;
                    
                }
            }

            &--div {
                @extend .col;
                align-items: center;
                justify-content: center;
                margin-left: 30px;
                &--strong {
                    font-size: 2rem;
                }

                &--p{
                    padding: 0px;
                    margin: 7px;
                }

            }
        }
        &--art4 {
            @extend .row;
            margin-bottom: 40px;

            &--pic {
                
                &--img {
                    @extend .imgservicios;
                    
                }
            }

            &--div {
                @extend .col;
                align-items: center;
                justify-content: center;
                margin-left: 30px;
                &--strong {
                    font-size: 2rem;
                }

                &--p{
                    padding: 0px;
                    margin: 7px;
                }

            }
        }


    }
}

//media queries tablet

@media (max-width:768px) {
    .main__section {
        &--div {
            justify-content: center;
            margin-left: 0px;
            &--imgservicios {
                width: 300px;
                height: 300px;
            }
        }
    }

    .main__section--title {
        text-align: center;
    }


.main__section2{
    &--art{
        display: flex;
        flex-direction: column;
        &--pic{
            display: flex;
            justify-content: center;
            
            &--img{
                align-items: center;
                justify-content: center;
            }
        }
        &--div{
            margin-top: 40px;
            margin-left: 0px;
            &--strong{
                text-align: center;
            }
        }
    }

    &--art2{
        display: flex;
        flex-direction: column;
        &--pic{
            display: flex;
            justify-content: center;
            
            &--img{
                align-items: center;
                justify-content: center;
            }
        }
        &--div{
            margin-top: 40px;
            &--strong{
                text-align: center;
            }
        }
    }

    &--art3{
        display: flex;
        flex-direction: column;
        &--pic{
            display: flex;
            justify-content: center;
            
            &--img{
                align-items: center;
                justify-content: center;
            }
        }
        &--div{
            margin-top: 40px;
            margin-left: 0px;
            &--strong{
                text-align: center;
            }
        }
    }
    &--art4{
        display: flex;
        flex-direction: column;
        &--pic{
            display: flex;
            justify-content: center;
            
            &--img{
                align-items: center;
                justify-content: center;
            }
        }
        &--div{
            margin-top: 40px;
            margin-left: 0px;
            &--strong{
                text-align: center;
            }
        }
    }
}
}