.footer {

    &__section {
        @extend .col;
        align-items: center;

        &--article {
            @extend .row;
            justify-content: space-evenly;

            // mapas

            $iconosSocial: (facebook: #2279e4,
                instagram: #C92D8F,
                twitter: #55acee,
                whatsapp: green,
            );

            @each $redes,
            $coloresredsocial in $iconosSocial {
                .rs-#{$redes} {
                    color: $black;
                    font-size: 40px;
                    padding: 30px;

                    &:hover {
                        color: $coloresredsocial;
                    }
                }
            }
        }

        &--article2 {
            &--copy {
                font-family: 'Cabin', sans-serif;
            }

            &--ul {

                &--li {

                    &--a {
                        padding: 10px;
                        &:hover {
                            color: $white;
                            background-color: $black;
                            border-radius: 30px;
                        }
                    }
                }
            }
        }
    }
}