* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(178, 239, 255, 1) 100%);
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 3.5rem;
    margin: 30px;
}

p {
    @extend .row;
    justify-content: center;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}

ul {
    font-family: 'Cabin', sans-serif;
    @extend .row;
    justify-content: center;
    padding-left: 0px;
    
}

ul li a {
    color: $black;
    list-style-type: none;
    text-decoration: none;
}



