header {
    background: rgb(193, 190, 255);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(222, 33, 221, 1) 0%, rgba(0, 212, 255, 1) 100%);
    @extend .row;
    justify-content: space-between !important;
    width: 100%;
    
}

.navbar-brand{
    @extend .row
}

.navbar-nav{
    margin: 0px !important;
    justify-content: flex-end !important;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

.container-fluid1{
    margin-left: 20px;
}

.container-fluid{
    justify-content: flex-end !important;
}

.navbar{
    width: 100%;
    margin: 0px;
    @extend .row;
    justify-content: space-between  !important;
    flex-wrap: nowrap;
}

@keyframes animation {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.imgmulan {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    margin: 10px;
    font-weight: bold;

}

.icon1 {
    display: none;
}

.menu_nav {
    @extend .row;
    justify-content: end  !important;
}

li {
    list-style-type: none;
}

img {
    height: 50px;
    width: 50px;
    display: inline;
}


.nav-item {
    display: block;
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;

    &:hover{

    border-radius: 50px;
    background-color: $white;
    }
    &a {
    color: $black;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    transition: 0.5s;
    &:hover{
    color: $black  !important;
    border-radius: 50px;
}
}
}

//media queries 

@media (max-width:768px) {
    .collapse{
        position: absolute;
        right: 0;
        top: 100px;
        width: 100%;
        background-color: $white;

    }
}






