//colores

$white: #ffffff;
$black: #000000;

//utilidades

$shadow: 0 25px 50px 0px $black;

//extends

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.imgindex {
    width: 150px;
    height: 150px;
    margin: 50px;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    transition: all 1s;
    box-shadow: $shadow;
}

.imgservicios {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    border: solid;
    border-width: 6px;
    box-shadow: $shadow;
}

.boton {
    
        border-radius: 10px;
        background-color: #ffbee7;

        &--li {
            background-color: none;

            &--a {
                list-style-type: none;
                color: $black;
                font-weight: bold;
                text-decoration: none !important;
                width: 100%;
                padding-right: 5px;
                padding-left: 5px;

                &:hover {
                    color: $white;
                }
            }
        
    }
}


//mixins

@mixin grid ($cantidadcol, $rows) {
    display: grid;
    grid-template-columns: repeat($cantidadcol, 1fr);
    grid-template-rows: repeat($rows, 1fr);
}